body {
  background-color: lightcoral;
}
.App {
  max-width: 1024px;
  margin: auto;
  padding: .5em;
  background-color: white;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}
input, select {
  font-size: x-large;
  width: 200px;
  padding: 8px;
}

.filters {
  background-color: rgb(189, 240, 138);
  border-radius: 10px;
  margin: .5em;
  padding: .5em;
  display: grid;
  grid-template-columns: auto auto;
}

.input {
  display: grid;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 16px;
}

td, th {
  padding: 5px; 
  text-align: left;
}

tr:nth-child(even) {
  background: lightblue;
}

table {
  width: 100%;
}

.activeCell {
  background: rgb(131, 213, 195);
}

.spinner {
  border-radius: 100%;
  border: 3px solid black;
  border-top-color: transparent;
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  margin: auto;

}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}